<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CleverTapAccountID</key>
	<string>TEST-R78-ZZK-955Z</string>
	<key>CleverTapToken</key>
	<string>TEST-311-ba2</string>
</dict>
</plist>
